<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <br>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file-text-o "></i>
          <span>FACTURACIÓN</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/facturacion" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>Facturar</a>
          </li>
          <li>
            <a routerLink="/facturas" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>Buscar</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>SOCIOS</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/socios" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>Lista de socios</a>
          </li>

        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-home"></i>
          <span>LOTES</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/lotes" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>Lista de lotes</a>
          </li>

        </ul>
      </li>

    </ul>
  </section>
</aside>