<div class="box box-primary">
  <div class="box-header with-border">
    <p-growl [value]="message"></p-growl>
    <br>
    <H2>Lista de socios</H2>

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Buscar" [(ngModel)]="textToFind" (ngModelChange)="find()">
    </div>

    <p-dataTable #dt [value]="listaSocios" selectionMode="single" emptyMessage ="No existen registros" sortMode="single" reorderableColumns="true"
      scrollable="true" [globalFilter]="gb" scrollWidth="100%" columnResizeMode="expand" (onRowSelect)="onRowSelect($event)"
      [responsive]="true">

      <p-header>
        <div class="ui-helper-clearfix" style="width:100%">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="nuevoSocio()" label="NUEVO"></button>
          <button type="button" pButton icon="fa-edit" style="float:left" (click)="modificarSocio()" label="MODIFICAR"></button>
          <button type="button" pButton icon="fa-trash " style="float:left" (click)="eliminarSocio()" label="ELIMINAR"></button>
          <button type="button" pButton icon="fa-file-o" style="float:right" (click)="generarExcel()" label="Generar Excel" ></button>

         </div>
      </p-header>

      <p-column field="idsocio" header="ID" [sortable]="true" [style]="{'width': '100px'}"></p-column>
      <p-column field="nombre" header="NOMBRE" [style]="{'width': '200px'}"></p-column>
      <p-column field="apellido" header="APELLIDO" [style]="{'width': '200px'}"></p-column>
      <p-column field="dni" header="DNI" [style]="{'width': '200px'}"></p-column>
      <p-column field="cuitcuil" header="CUIT CUIL" [style]="{'width': '200px'}"></p-column>
      

    </p-dataTable>

  </div>
</div>